.landing-bg {
  height: 100vh;
}

.landing-container {
  text-align: center;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  height: 90%;
  max-height: 840px;
  overflow-y: auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.logo {
  width: 60%;
  border-radius: 10px;
}

.landing-sub-title {
  color: gray;
  font-weight: normal;
  font-size: 1rem;
}

.landing-sub-title-korean {
  margin-top: 0;
  font-size: 0.9rem;
}

/* Password Input Styles */
.landing-select-container {
  margin: 20px 0;
  margin-bottom: 40px;
  gap: 30px;
}

.landing-password-new,
.landing-password-current {
  width: 200px;
  height: 60px;
  padding: 0px;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: 0.4s all ease;
  cursor: pointer;
  /* color: black; */
  /* border: 2px solid green; */
  background-color: var(--mint);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.landing-password-new:hover,
.landing-password-current:hover {
  background-color: var(--mintHover);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.landing-new-container {
  margin: 30px 0;
  margin-top: 50px;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 999;
}

.landing-new-container form {
  flex-direction: column;
  gap: 1.5rem;
  z-index: 999;
}

.back-btn-container {
  width: 100%;
  text-align: left;
}

.landing-new-container label {
  width: 100%;
  text-align: left;
  font-weight: 550;
  margin-bottom: 0;
}

.landing-new-container input {
  padding: 15px 18px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 999;
  margin-bottom: 15px;
}

.landing-new-container-start {
  /* margin-top: 15px; */
  padding: 15px 18px;
  width: 100%;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s all ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.back-btn-container button {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0px;
  background-color: transparent;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  transition: 0.4s all ease;
  cursor: pointer;
}

.landing-new-container-start:hover {
  background-color: #131313;
}

.back-btn-container button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-owner {
  padding: 15px 10px;
  width: 80%;
  border-top: 0.5px dotted gray;
  margin-left: auto;
  margin-right: auto;
}
