.modal-content {
  background-color: #202020;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.modal-content p {
  line-height: 25px;
  white-space: pre-wrap;
}

.modal-button {
  margin: 10px 15px;
  padding: 12px 20px;
  border: none;
  background-color: #005cbe;
  color: white;
  font-weight: 550;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.modal-alert-button {
}

.modal-button:hover {
  background-color: #007bff;
}
