.modal-content {
  background-color: #202020;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  z-index: 20;
}

.modal-content p {
  line-height: 25px;
  white-space: pre-wrap;
}

.modal-button {
  margin: 10px 15px;
  padding: 12px 20px;
  border: none;
  background-color: #005cbe;
  color: white;
  font-weight: 550;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.modal-input {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px;
}

.modal-alert-button {
}

.modal-button:hover {
  background-color: #007bff;
}

.caps-lock-warning {
  font-size: 0.9rem;
  color: var(--mint);
  font-weight: bold;
}

.caps-lock-warning-register {
  margin-top: -10px;
  margin-bottom: 10px;
}
